
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~admin-lte/node_modules/bootstrap/dist/css/bootstrap.css';

@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';
@import "~font-awesome/css/font-awesome.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#makati_paginate, #makati_filter,
#students_makati_paginate, #students_makati_filter,
#students_cebu_paginate, #students_cebu_filter,
#students_davao_paginate, #students_davao_filter {
  float: right;
}

#add_student_form .col-md-4{
  text-align: right;
}

.required, .required .select2-selection {
  border-color: green !important;
}

.DTFC_RightWrapper, .DTFC_NoData .dataTables_empty{
  display: none;
}

.DTFC_LeftBodyLiner{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.dataTables_empty{
  text-align: left !important;
}

.tooltip-inner {
  max-width: 100% !important;
}

#books_branch_table_wrapper .dataTables_length, #books_student_table_wrapper .dataTables_length {
  float: right !important;
  margin-right: 25px;
}

#books_branch_table_wrapper .dataTables_filter, #books_student_table_wrapper .dataTables_filter {
  float: right !important;
}

.dataTables_processing{
  z-index: 105
}

.box-profile{
  height: 80vh;
  overflow: auto;
  overflow-y: scroll;
}

li.branch_pick, li.status_pick, 
li.result_pick, li.language_pick, 
li.all_pick, li.ssv_pick,
li.ssv_backout_pick, li.tab_pick,
li.invoice_pick, li.books_pick{
  cursor: not-allowed;
}

a.branch_pick, a.status_pick, 
a.result_pick, a.language_pick, 
a.all_pick, a.ssv_pick,
a.ssv_backout_pick, a.tab_pick,
a.invoice_pick, a.books_pick{
  pointer-events: none;
}

.makati_approved, .makati_denied, .makati_cancelled, .makati_final, .makati_active, .makati_backout, .makati_total,
.cebu_approved, .cebu_denied, .cebu_cancelled, .cebu_final, .cebu_active, .cebu_backout, .cebu_total,
.davao_approved, .davao_denied, .davao_cancelled, .davao_final, .davao_active, .davao_backout, .davao_total,
.all_approved, .all_denied, .all_cancelled, .all_final, .all_active, .all_backout, .all_total{
  cursor: help;
}

.progress {
  background-color: #e0e0e0;
}